.hero {
  height: 100vh;
  min-height: 800px;
}

.icon {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

.cohort-name {
	font-family: serif;
}

#banner {
	background-color: #7f22c3;
}

#banner .button.special {
	background-color: #786efb;
}

#banner .button.special:hover {
	background-color: #ff7474;
}